<main class="form-signin w-100 m-auto">
  <form action="/user/signup" method="post">
    {{!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> --}}
    {{# if hasError}}
    <div class="alert alert-danger" role="alert">
        {{this.errors}}
    </div>
    {{else}}
    {{/if}}
    <h1 class="h3 mb-3 fw-normal">Rejestracja</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control email_input" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control password_input" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Hasło</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password2" class="form-control password_input2" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Potwierdź Hasło</label>
    </div>

    <div class="checkbox mb-3 text-center">
      <label>
        <input type="checkbox" name="regulations" value="accept">Akceptuje <b>regulamin</b> sklepu internetowego
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Zarejestruj się</button>
  </form>
</main>